{% extends '/layout.html' %}

{% block title %}Список задач{% endblock %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="">Список задач</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
        {% if session.username is empty %}
        <div class="ml-auto">
            <a class="btn btn-primary my-2 my-sm-0" href="./loginPage">Войти</a>
        </div>
        {% else %}
            <form class="form-inline ml-auto" method="POST" action="./logout">
                <h4>{{session.username}}&nbsp;&nbsp;</h4>
                <button class="btn btn-danger my-2 my-sm-0" type="submit">Выйти</button>
            </form>
        {% endif %}
    </div>
  </nav>

<div class="container mt-2">

    {% if tasksData is not empty %}
        <div class="row justify-content-center">
            <div class="col">
                <table class="table table-bordered" id="tasksTable" data-page-length='3'>
                    <thead>
                    <tr>
                        <th scope="col"><a href="" class="asc">Имя пользователя</a></th>
                        <th scope="col"><a href="" class="asc">E-mail</a></th>
                        <th scope="col" class="col-6"><a href="" class="asc">Текст задачи</a></th>
                        <th scope="col" class="col-1"><a href="" class="asc">Выполнено</a></th>
                        <th scope="col" class="col-1"><a href="" class="asc">Отредактировано администратором</a></th>
                        {% if session.username is not empty %}
                            <th scope="col" class="col-1">Редактировать</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for taskData in tasksData %}
                        <tr>
                            <td>{{taskData.username}}</td>
                            <td >{{taskData.email}}</td>
                            <td>{{taskData.task_text}}</td>
                            <td class="text-center"><input type="checkbox" class="completed-checkbox"
                                {% if session.username is empty %} disabled {% endif %}
                                {% if taskData.completed == 1 %} checked {% endif %}>
                                {% if taskData.completed == 1 %}
                                    <span>Да</span>
                                {% else %}
                                    <span>Нет</span>
                                {% endif %}
                                <input type="hidden" value="{{taskData.id}}">
                            </td>
                            <td class="text-center">
                                {% if taskData.edited == 1 %}
                                    Да
                                {% else %}
                                    Нет
                                {% endif %}
                            </td>
                            {% if session.username is not empty %}
                                <td class="text-center">
                                    <button class="btn btn-primary btn-sm button-edit">Редактировать</button>
                                    <input type="hidden" value="{{taskData.id}}">
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <ul class="pagination justify-content-center"></ul>
            </div>
        </div>
    {% endif %}
    
    <div class="row justify-content-center mt-4">
        <div class="col-md-8">
            {% if success is not empty %}
            <div id="success-alert" class="alert alert-success mt-2 mb-2" role="alert">
                Задача добавлена успешно
            </div>
            {% endif %}
            <form id="add-task-form" action="./tasks/add" method="POST" class="needs-validation" novalidate>
                <div class="form-group">
                    <label for="username">Имя пользователя</label>
                    <input type="text" class="form-control" id="username" name="username" autocomplete="off" required>
                    <div class="invalid-feedback">
                        Введите имя пользователя
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" autocomplete="off" 
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                    <div class="invalid-feedback">
                        Введите настоящий E-mail
                    </div>
                </div>
                <div class="form-group">
                    <label for="taskText">Текст задачи</label>
                    <textarea class="form-control" id="taskText" name="taskText" rows="3" autocomplete="off" required></textarea>
                    <div class="invalid-feedback">
                        Текст задачи не должен быть пустым
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Добавить</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    <script type="module" src="./js/index.js"></script>
{% endblock %}